{% extends "base.html" %}
{% block title %}Researcher Query{% endblock %}
{% block content %}
<form action="#" method="post" >


    <p>Date_of_birth:</p>
    <p><input type="text" name="Date_of_birth"/></p>
    <p><input type="submit" value="Submit"/></p>

    <p>Race:</p>
    <p><input type="text" name="Race"/></p>
    <p><input type="submit" value="Submit"/></p>

    <p>Gender:</p>
    <p><input type="text" name="Gender"/></p>
    <p><input type="submit" value="Submit"/></p>

    <p>Current_city:</p>
    <p><input type="text" name="Current_city"/></p>
    <p><input type="submit" value="Submit"/></p>

    <p>Blood_Group:</p>
    <p><input type="text" name="Blood_Group"/></p>
    <p><input type="submit" value="Submit"/></p>

    <p>Medications:</p>
    <p><input type="text" name="Medications"/></p>
    <p><input type="submit" value="Submit"/></p>

    <p>Diagnosis:</p>
    <p><input type="text" name="Diagnosis"/></p>
    <p><input type="submit" value="Submit"/></p>

    <p>Risk_factor:</p>
    <p><input type="text" name="Risk_factor"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

 {% endblock %}
